.product {
  &__cart {
    width: 500px;
    height: 700px;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
  }
  &__content {
    background-color: rgb(116, 150, 150);
    box-shadow: 0px 4px 46px rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 700px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 200;
    overflow-y: auto;
  }
  &__title {
    color: white;
  }
  &__text {
    color: white;
  }
  &__price {
    color: white;
  }
  &__image {
    width: 150px;
    height: 100px;
  }

  &__info {
    display: flex;
    gap: 50px;
  }
  &__choice {
    display: flex;
    gap: 50px;
    align-items: center;
  }
  &__option {
    display: flex;
    gap: 5px;
  }
  &__offer {
    margin-bottom: 40px;
  }
  &__btn {
    width: 10px;
    height: 20px;
  }
  &__purchase {
    position: absolute;
    z-index: 201;
    width: 40%;
    height: 100px;
    right: 0;
    gap: 20px;
  }
  .btn {
    margin-top: 50px;
    // width: 300px;
    // height: 100px;
    // border-radius: 20px;
  }
}
