.visionaries {
  padding: 50px;

  &__info {
    display: flex;
    gap: 100px;
  }

  &__img {
    width: 416px;
  }

  &__titles {
    display: flex;
    gap: 5px;
  }
  &__title1 {
    font-weight: 400;
    font-size: 48px;
    margin-bottom: 20px;
  }
  &__title2 {
    font-weight: 400;
    font-size: 48px;
    color: #ba0000;
    margin-bottom: 20px;
  }

  &__text {
    max-width: 522px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.18px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .visionaries {
    &__left {
      width: 60%;
    }
  }
}

@media screen and (max-width: 856px) {
  .visionaries {
    &__info {
      flex-direction: column-reverse;
    }

    &__title1 {
      font-size: 52px;
    }
    &__title2 {
      font-size: 52px;
    }
  }
}

@media screen and (max-width: 768px) {
  .visionaries {
    &__title1 {
      font-size: 48px;
    }
    &__title2 {
      font-size: 48px;
    }
  }
}

@media screen and (max-width: 560px) {
  .visionaries {
    &__titles {
      gap: 5px;
    }
    &__title1 {
      font-size: 28px;
    }
    &__title2 {
      font-size: 28px;
    }
  }
}

@media screen and (max-width: 460px) {
  .visionaries {
    &__titles {
      flex-direction: column;
    }
  }
}
