.favourite {
  padding: 50px 40px;

  &__info {
    display: flex;
    flex-direction: column;
  }
  &__top {
    margin-bottom: 100px;
  }
  &__titles {
    display: flex;
  }

  &__title {
    font-weight: 400;
    font-size: 64px;
  }
  &__title1 {
    font-weight: 400;
    font-size: 64px;
    color: red;
  }
  &__img {
    display: block;
    max-width: 140px;
  }

  &__item {
    margin-bottom: 40px;
    max-width: 30%;
  }

  &__subtitle {
    margin-bottom: 40px;
  }

  &__centre {
    display: flex;
    padding: 50px 0;
    justify-content: space-between;
    margin-bottom: 100px;
    flex-wrap: wrap;
  }

  &__product {
    position: relative;
    z-index: 9;
  }
  &__img {
    max-width: 235px;
    width: 90%;
    z-index: 13;
    height: 160px;
  }

  &__img:hover {
    transition: all 0.9s;
    transform: translateY(-20px);
    box-shadow: 0 10px 20px #b80606;
    border-radius: 15px;
  }

  &__bottom {
    padding: 100px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__icon {
    border: none;
    width: 85px;
    height: 60px;
  }

  .slider {
    margin: auto;
    overflow: hidden;
    position: relative;
    padding: 32px 0;
  }

  .slider:after {
    right: 0;
    top: 20%;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
  }
  .slider:before {
    top: 20%;
  }

  .slider:after,
  .slider:before {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#333),
      to(rgba(255, 255, 255, 0))
    );
    background: linear-gradient(to right, #333 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 92px;
    position: absolute;
    width: 60px;
    z-index: 2;
  }

  .slider-track {
    display: flex;
    overflow: hidden;
  }

  #favourite__slider {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: black;
  }

  #favourite__bottom {
    color: #ffffff;
    background-color: black;
    padding: 16px 16px 0;
  }

  .slider .slide-track {
    animation: slide-animation 80s linear infinite;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 3360px;
    white-space: nowrap;
    overflow: hidden;
    height: 52px;
  }

  .slider .slide {
    height: 32px;
    width: 240px;
  }

  @keyframes slide-animation {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    100% {
      -webkit-transform: translateX(-1680px);
      transform: translateX(-1680px);
    }
  }
}

@media screen and (max-width: 1024px) {
  .favourite {
    &__titles {
      flex-wrap: wrap;
      align-items: center;
    }
    &__title {
      font-size: 52px;
    }
    &__title1 {
      font-size: 52px;
    }
  }
}

@media screen and (max-width: 865px) {
  .favourite {
    &__centre {
      align-items: center;
      flex-direction: column;
    }
    &__img {
      height: 130px;
    }
  }
}

@media screen and (max-width: 768px) {
  .favourite {
    &__centre {
      align-items: center;
      flex-direction: column;
    }
    &__img {
      height: 120px;
    }
  }
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 350px) {
}
