.modern {
  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    width: 60%;
    position: relative;
    margin: 0 auto;
    padding: 20px;
  }

  &__img1 {
    display: block;
    max-width: 300px;
    z-index: 6;
    position: relative;
  }

  &__img2 {
    position: absolute;
    max-width: 300px;
    left: 10%;
    bottom: 50%;
    z-index: 7;
  }

  &__img2:hover {
    transition: all 0.9s;
    transform: translateY(-20px);
    box-shadow: 0 10px 20px #b80606;
    border-radius: 15px;
  }

  &__case {
    opacity: 0.1;
    position: absolute;
    width: 200px;
    height: 260px;
    left: 10%;
    bottom: 20%;
    z-index: 8;
  }

  &__right {
    padding: 100px 20px;
  }

  &__title {
    font-weight: 400;
    font-size: 64px;
    line-height: 76.72px;
    margin-bottom: 50px;
    max-width: 676px;
  }

  &__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 28.77px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .modern {
    &__title {
      font-size: 48px;
    }
  }
}
@media screen and (max-width: 986px) {
  .modern {
    &__block {
      display: flex;
      flex-direction: column-reverse;
      gap: 70px;
    }

    &__img2 {
      bottom: 30%;
      left: 10%;
    }
  }
}
@media screen and (max-width: 856px) {
  .modern {
    &__block {
      display: flex;
      flex-direction: column-reverse;
    }

    .btn {
      display: flex;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .modern {
    &__block {
      display: flex;
      flex-direction: column-reverse;
    }

    &__right {
      margin: 0 auto;
      max-width: 600px;
      text-align: center;
    }
    &__title {
      font-size: 48px;
      text-align: center;
    }

    &__img2 {
      max-width: 200px;
    }
    &__img1 {
      max-width: 200px;
    }
    &__left {
      width: 60%;
    }
  }
}

@media screen and (max-width: 350px) {
  .modern {
    &__title {
      font-size: 32px;
      text-align: center;
    }
    &__img2 {
      max-width: 170px;
    }
    &__img1 {
      max-width: 180px;
    }
  }
}
