.header {
  .nav__menu {
    display: flex;
    justify-content: space-between;

    &__list {
      display: flex;
      gap: 23px;
    }

    &__list__right {
      display: flex;
      gap: 47.5px;
    }
    .icon-magnifier {
      color: #fff;
    }
    .icon-user {
      color: #fff;
    }
    .icon-bag {
      color: #fff;
    }
  }
  .menu__centre__logo {
    width: 80px;
    height: 31.5px;
  }
}
