.header {
  display: flex;
  justify-content: space-between;
  padding: 2.875rem;

  &__list__right {
    display: flex;
    gap: 47.5px;
    justify-content: space-between;
  }
  .icon-magnifier {
    color: #fff;
  }
  .icon-user {
    color: #fff;
  }
  .icon-bag {
    color: #fff;
    margin-top: 5px;
  }

  &__centre__logo {
    width: 80px;
    height: 31.5px;
  }
}
