.nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 40px;
  position: relative;

  .aside {
    position: fixed;
    top: 0;
    background-color: black;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    padding: 2.5rem;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    z-index: 10;
    transition: 0.3s;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    width: 1000px;
    background-color: aliceblue;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  &__link {
    font-size: 1.5rem;
    color: var(--title-color);
    font-weight: var(--font-bold);
    transition: 0.3s;
  }
  &__li {
    max-width: 300px;
    background-color: aqua;
    color: black;
  }
  .menu {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;
  }
  .menu__price {
    color: white;
  }

  .menu__img {
    width: 100px;
    height: 70px;
  }
  &__title {
    font-size: 24px;
    color: rgb(24, 102, 170);
  }

  &__link:hover {
    color: hsl(43, 100%, 68%);
  }

  &__toggle {
    position: fixed;
    top: 1.25rem;
    left: 1.875rem;
    cursor: pointer;
    height: 40px;
    width: 45px;
    background: hsl(40, 22%, 39%);
    border: 1px solid #474448;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 0.3s;
  }
}

@media screen and (max-width: 1350px) {
  .aside {
    width: 100vw;
    height: 10vh;
  }
}

@media screen and (max-width: 1024px) {
  .nav {
    .aside {
      top: -10vh;
    }

    &__toggle {
      display: flex;
    }
    &__toggle-open {
      top: 100px;
    }
    .show-menu {
      top: 0;
    }
  }
}
