.footer {
  padding: 100px 40px 50px;

  &__top {
    display: flex;
    gap: 70px;
    padding: 40px 20px;
    flex-wrap: wrap;
  }

  &__top__info {
    display: flex;
    gap: 20px;
    max-width: 25%;
  }

  &__top__left {
    display: flex;
    align-items: center;
  }

  &__main {
    padding: 50px 10px;
    display: flex;
    gap: 30px;
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 40px;
    min-width: 454px;
  }
  .top {
    margin-bottom: 50px;
  }

  &__main__right {
    display: flex;
    gap: 10px;
  }
  &__title__small {
    font-weight: 400;
    font-style: italic;
    line-height: 28px;
  }

  &__text {
    font-weight: 200;
    line-height: 23px;
  }

  &__middle__column {
    margin-right: 50px;
  }

  &__li {
    max-width: 150px;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
  }

  &__bottom__left {
    display: flex;
    gap: 10px;
    width: 300px;
    align-items: center;
  }
  &__left__img {
    max-width: 20px;
  }

  &__bottom__right {
    display: flex;
    gap: 50px;
    cursor: pointer;
  }

  #youtube,
  #facebook,
  #twitter,
  #instagram {
    background-color: #18191f;
    box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
      2px 2px 10px #00000080, 2px 2px 3px #00000080,
      inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
      inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080;
    border-radius: 29px;
    padding: 11px 19px;
    margin: 0 10px;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
      0 0 200px #0072ff;
  }

  #youtube {
    animation-delay: 0.3s;
    animation-iteration-count: infinite;
    animation-name: animate;
  }
  #facebook {
    animation-delay: 0.7s;
    animation-iteration-count: infinite;
  }
  #twitter {
    animation-delay: 0.1s;
    animation-iteration-count: infinite;
  }
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    &__main {
      flex-direction: column;
    }

    &__main__left {
      max-width: 100%;
      margin: 0 auto;
    }

    &__bottom__img {
      margin: 20px auto;
      display: flex;
    }

    &__main__right {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 856px) {
  .footer {
    &__top {
      max-width: 40%;
      top: 45%;
      margin: 0 auto;
    }
    &__top__info {
      flex-direction: column;
    }

    &__bottom {
      flex-direction: column-reverse;
      gap: 40px;
    }
    &__bottom__right {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    &__bottom__right {
      margin: 0 auto;
    }
    &__main {
      margin: 0 auto;
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (max-width: 560px) {
}

@media screen and (max-width: 460px) {
}
