.best {
  padding: 100px 40px;
  margin: 0 auto;
  position: relative;
  z-index: 3;

  &__title {
    max-width: 450px;
    font-weight: 400;
    font-size: 64px;
    margin: 0 auto;
  }

  &__show {
    margin-top: 70px;
    display: flex;
    gap: 10px;
  }

  &__img4 {
    position: absolute;
    max-width: 359px;
    top: -300px;
    z-index: 2;
  }
  &__img5 {
    position: absolute;
    max-width: 416px;
    top: -370px;
    z-index: 1;
    left: 20px;
  }
  &__img2 {
    z-index: 4;
    position: relative;
  }
}
