.main{

  background-image: url(../src/assets/main/Image.png) ;
  background-repeat: no-repeat;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
 

  
    background-repeat: no-repeat;
}

@media screen and (max-width:1024px) {
  .main{
    margin-left: 0;
  }
}